header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.log-in{
    background-color: white;
    border: none;
    color: black;
    font-weight: bolder;
}

.ad{
    width: 700px;
    height: 150px;
    margin: 15px auto;
    background-color: lightgray;
    
}