main{
    margin: auto;
    width: 50%;
    display: flex;
    margin-left: 17%;
    flex-direction: row-reverse;
}

main img{
    width: 500px;
}

aside{
    margin-top: 250px;
    display: inline-block
}
.main{
    margin-top: 100px;
}

.main_aside{
    /* text-align: right; */
    position: relative;
    bottom: 70px;
    font-size: smaller;
    text-align: start;
}

.main_aside i{
    float: left;
}

.main{
    border-bottom: solid 1px gray;
    position: relative;
    bottom: 28px;
    padding: 5px;
    color: black;
    font-weight: bolder;
}