.flex section{
    margin-left: 5%;
}

.z-index{
    position: absolute;
    z-index: 10;
    left: 180px;
    top: 750px;
}






#read{
    margin-left: 23%;
    margin-top: 10px;
    width: 50%;
}



.z-index i:last-of-type{
    float: left;
}



.z-index p:nth-of-type(4){

    position: relative;
    bottom: 50px;
}

.z-index p:nth-of-type(5){

    position: relative;
    bottom: 44px;
    left: 30px;
}
.z-index i:nth-of-type(1){
    position: absolute;
    left: 70px;
    top: 30px;
    background-color: gray;
    color: white;
    font-size: large;
    padding: 2px;
    border-radius: 8px;
}
.z-index i:nth-of-type(2){
    position: relative;
    left: 150px;
    bottom: 53px;
    background-color: cyan;
    color: white;
    font-size: large;
    padding: 2px;
    border-radius: 8px;
}
.z-index i:nth-of-type(3){
    margin-top: -45px;
    background-color: gray;
    color: white;
    font-size: large;
    padding: 2px;
    border-radius: 8px;}

.z-index i:nth-of-type(4){
    position: absolute;
    background-color: darkblue;
    left: 100px;
}    

.udland{
    position: relative;
    bottom: 25px;
    color: red;
}



section article aside{
    width: 300px;
    border-top: 1px gray solid;
}

section article p{
    width: 500px;
    margin: auto;
    justify-content: center;
}




.aside-articles{
    margin-left: 20%;
    
}

.aside-articles section{
    width: 20%;
    margin: 15px;
    border-top: 1px gray solid;
}

.articles{
    width: 50%;
    margin-left: 300px;
}
